@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

  /* show ring on focus */
  .focus-ring {
    @apply focus:outline-none focus:ring-2 focus:ring-black dark:focus:ring-white focus:ring-offset-zinc-100 dark:focus:ring-offset-zinc-900;
  }

  /* show ring on focus only when using keyboard */
  .focus-visible-ring {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-black dark:focus-visible:ring-white focus-visible:ring-offset-zinc-100 dark:focus-visible:ring-offset-zinc-900;
  }

  .input-ui {
    @apply block w-full bg-zinc-200 dark:bg-zinc-800 focus-ring rounded-md pl-5 border-0 py-2 text-zinc-800 dark:text-zinc-200 placeholder:text-zinc-500 text-sm leading-6;
  }
}
